nav{
    width: 100vw;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul li{
    display: inline-block;
    padding-top: 15px;
    padding-right: 35px;
    font-size: large;
    
}

li:hover {
    color: #00ffff;
}



.navlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.navlogo p{
    margin: 5px;
    font-size: 20px;

}

.navlogo p::first-letter {
    color: aqua;
    font-size: 30px;
}

img {
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 100%;
}